
body {
  background-color: #e5e5e5;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

section {
  background-color: #e5e5e5;
}

.homepage {
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 120px;
  background-color: white;
}

@media (min-width: 768px){
  header nav {
    padding-left: 7%;
    padding-right: 10%;
  }

  .logo{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070FF;
  }
 
  .headline {
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 24%;
    padding-right: 24%;
    padding-top: 8%;
  }

  a .social-media-link {
    padding-top: 10px;
  }
}

header nav {
  display: flex;
  justify-content: space-between;
  padding-right: 44px;
  padding-bottom: 14px;
  padding-top: 24px;
  margin-top: 44px;
}

.right-side a {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  text-decoration: none;
  padding-right: 20px;
}

@media (max-width: 768px) {
  .right-side a {
    display: none;
  }
}

@media (min-width: 768px) {
  nav img {
    display: none;
  }

  header {
    margin-bottom: 5%;
    padding-right: 6%;
  }
}

.logo {
  text-decoration: none;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.headline {
  background-image: url(./dektopimages/Headerbg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .headline {
    padding-left: 17%;
    padding-right: 17%;
  }

  div .headline {
    padding-left: 0;
    padding-top: 0;
  }

  .snapshot-mobile {
    display: none;
  }

  nav {
    padding-right: 5%;
  }
}

@media (max-width: 768px) {
  .snapshot-desktop {
    display: none;
  }
}

h1 {
  padding-top: 120px;
}

h1,
h2 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

form p {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #fff;
}

.headline p {
  margin-top: 12px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 12px;
}

.headline .social-media-link {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

li {
  margin-top: 0;
  padding-bottom: 20px;
}

.headline li {
  display: flex;
  flex-direction: row;
}

.headline .icon-container {
  padding: 0;
  margin-right: 20px;
}

.works {
  display: grid;
  grid-template-columns: auto;
  margin-left: 24px;
  margin-right: 24px;
  background-color: #e5e5e5;
}

.parent-container,
.parent-container2 {
  padding: 16px;
  border: 1px solid rgb(206, 202, 202);
  border-radius: 20px;
  margin-bottom: 114px;
  background-color: white;
}

.parent-container img,
.parent-container2 img {
  width: 95%;
}

@media (min-width: 768px) {
  .parent-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .individual-card {
    padding-top: 5%;
    padding-left: 5%;
  }
}

@media (min-width: 768px) {
  .parent-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .snapshot-upper {
    display: none;
  }

  .snapshot-lower {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .snapshot-lower {
    display: none;
  }

  .languages .desktop {
    display: none;
  }
}

form h2 {
  padding-top: 103px;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.works h2 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 20px;
  margin-top: 12px;
}

.works .li-elements {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.li-elements li {
  margin-right: 12px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

ul .current-li,
ul .crrentli1,
ul .desktop {
  color: #344563;
}
@media (min-width: 768px) {
  ul .current-li,
  ul .crrentli1,
  ul .desktop,
  .li-elements li{
  font-family: 'Poppins';
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

  ul .current-li1 {
    display: none;
  }

  ul .mobile2 {
    display: none;
  }

  .mobile h2 {
    display: none;
  }
}

@media (max-width: 768px) {
  ul .desktop {
    display: none;
  }

  ul .desktop2 {
    display: none;
  }

  .desktop h2 {
    display: none;
  }
}

.works p {
  font-family: 'poppins', Arial, Helvetica, sans-serif;
  font-weight: 400px;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.languages {
  padding: 0 0 0 0;
  display: flex;
  align-items: center;
  flex: start;
}

.language-button {
  margin-right: 10px;
  color: #6070ff;
  border: none;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 500px;
  font-size: 12px;
  line-height: 16px;
  padding: 4px 12px;
  border-radius: 9px;
  margin-bottom: 20px;
}

.languages li {
  list-style: none;
  margin-left: 0;
}

.see-project-button {
  margin-bottom: 40px;
}

.see-project-button,
.get-my-resume-button {
  padding: 12px;
  color: #396df2;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #396df2;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
}

.about-myself {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 0 70px 0 0;
  padding-top: 114px;
  margin-bottom: 114px;
}

@media (min-width: 768px) {
  .about-myself {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 0 70px 0 0;
    padding-top: 114px;
    margin-bottom: 114px;
  }

  .upper {
    width: 50%;
  }
}

.about-myself h2 {
  margin-top: 114px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 0;
}

.about-myself p {
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: 'poppins', Arial, Helvetica, sans-serif;
  font-weight: 400px;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.about-myself .social-icons {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  list-style: none;
  margin-bottom: 22px;
}

.about-myself .icon-container {
  margin-right: 22.92px;
}

.self-profession {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  ul .java-html-css-container {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }
}

.frameworks,
.skills,
.language-select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.frameworks,
.skills {
  border-bottom: 1px solid rgb(217, 212, 212);
}

.language-items {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

li .frameworks {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .java-html-css-container {
    display: flex;
  }

  li .language-type-container {
    display: flex;
    flex-direction: column;
  }
}

.dropdown {
  width: 24px;
  height: 40px;
  padding-top: 25px;
  padding-right: 42px;
}

.about-myself h3 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.java-html-css-container {
  display: flex;
  flex-direction: column;
  width: 1fr;
  grid-row: 10px;
  list-style: none;
}

.language-images {
  width: 48px;
  height: 48px;
  margin-left: 12px;
  margin-right: 12px;
}

.language-type-container {
  display: flex;
  background-color: #f7f7f9;
  margin-bottom: 8px;
  align-items: center;
  border-radius: 3px;
  padding-left: 12px;
}

.about-myself h5 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.form-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

fieldset {
  border-radius: 200px 0 0 0;
  border: none;
  background: #6070ff;
  padding-left: 24px;
  padding-right: 24px;
  background-image: url(forms/contact-form-shapes-mobile.png);
  background-size: cover;
}

@media (min-width: 768px) {
  fieldset {
    border-radius: 200px 0 0 0;
    border: none;
    background: #6070ff;
    padding-left: 15%;
    padding-right: 15%;
    background-image: url(forms/contact-form-shapes-mobile.png);
    background-size: cover;
    align-items: center;
  }

  form input {
    display: flex;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    padding-left: 16px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
  }

  fieldset p {
    padding-left: 15%;
    padding-right: 15%;
  }

  .forms-section li {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

form input {
  display: flex;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  padding-left: 16px;
  width: 300px;
  height: 40px;
  border-radius: 5px;
}

form textarea {
  border-radius: 5px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  padding-left: 16px;
  width: 300px;
}

form button {
  color: #6070ff;
  padding: 12px 16px 12px 16px;
  margin-left: 0;
  border-radius: 5px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  background-color: white;
  line-height: 24px;
}

.forms-section {
  padding-bottom: 5px;
}

@media (min-width: 768px) {
  div .card-h2{  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091E42;
  }
  
  .individual-card .li-elements {
    margin-bottom: 2%;
  }

  .works .para {
    color: blue;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-bottom: 5%;
  }

  .works .languages {
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .social-icons {
    padding-bottom: 0px;
  }

  .lower{
    flex: 1;
    padding-bottom: 5%;
  }
  
  .about-me-header h2 {
    margin-top: 15px;
  }

  .about-myself p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }
}
