body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 24px;
  margin-right: 24px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headline {
  background-image: url(/images/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 h2 {
  color: #172b4d;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700px;
}

p {
  color: #344563;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500px;
}

.social-media {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}

.social-icons {
  display: flex;
}

.social-media .headline {
  color: #7f8cff;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

nav a {
  font-style: normal;
  font-weight: 700px;
  font-size: 18px;
  color: #6070ff;
}

nav a,
.headline a {
  text-decoration: none;
}

.icon-container {
  padding-left: 0;
  padding-right: 24px;
}
